.matrix-table__head {
  background-color: #337ab7;
  color: white;
}

.matrix-table__body {
  background-color: #f4f6f9;
}

dl {
  padding: 0.5em;
  margin-bottom: 0px;
}
dt {
  float: left;
  clear: left;
  width: 150px;
  text-align: left;
  font-weight: bold;
  color: black;
}
dt:after {
  content: ":";
}
dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0;
}
