{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "no-underscore-dangle": "off",
    "max-len": "off",
    "consistent-return": "off"
  }
}
