#node.js
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.env
pids
logs
results
npm-debug.log
node_modules
build

#OSX
.DS_Store
.AppleDouble
.LSOverride
#Icon
._*
.Spotlight-V100
.Trashes
.DS_file
.DS_info
DS_Store

.env.test
frontend/dist
client_secret.json
google-sheets-token.json
dokku.md
.idea
