@import '../../common/common';

.evaluation-grid {
  display: flex;
  flex-direction: column ;
  justify-content: space-around;
}

.evaluation-grid__item {
  margin: 0 20px 0 20px;
}

.evaluation-panel {
 padding-left: 0;
}

.skill-panel___info {
  border: none;
  box-shadow: none;
  color: lightslategray;
  font-size: 18px;
}

.skill-header {
  display: flex;
  align-items: baseline;
}

.skill-header__title {
  flex: 1;
  margin-right: 6px;
}

.skill-header__label {
}

.nav-btn--right {
  border-radius: 0 6px 6px 0;
}

.nav-btn--left {
  border-radius: 6px 0 0 6px;
}