.panel--state-attained {
  background-color: #e6f2ff;
}

.label--top {
  margin-top: 60px;
}

.header__button {
  margin-top: 10px;
}

.info__panel {
  border: none;
  box-shadow: none;
}

.skill__cta-group {
  margin-top: 10px;
}

.level-heading {
 margin-bottom: 0;
}

.level-heading__progress-bar {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 1px;
}
