@import '../../common/common';

.evaluation-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.evaluation-grid__item {
  margin: 0 20px 0 20px;
}

.evaluation-panel {
  display: grid;
  padding-left: 0;
}

.evaluation-panel--right {
  padding-right: 0;
}

.skill--fadeIn {
  animation:fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100%   { opacity: 1; }
}

.skill-body {
  font-size: 14px;
}

.skill__next-skill {
  padding-top: 10px;
  padding-bottom: 10px;
}

.skill-header {
  min-height: 58px;
  display: flex;
  align-items: baseline;
}

.skill-header__title {
  margin-top: 10px;
}

.nav-btn--right {
  border-radius: 0 6px 6px 0;
}

.nav-btn--left {
  border-radius: 6px 0 0 6px;
}

.remove {
  -webkit-appearance: none;
  cursor: pointer;
  background: transparent;
  border: 0;
  float: right;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  opacity: .2;
}

.remove:hover {
  opacity: .4;
}
.remove:focus {
  outline: none !important;
}

.evaluation-header {
  padding-left: 0;
}

.evaluation-header__category-label {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  padding: 4px 9px 9px;
  font-size: 16px;
  background-color: #337ab7;
  color: #fff;
  border-radius: .25em;
  text-align: center;
  width: 33.3%;
}

.evaluation-header__category-label--stretch {
  animation-name: stretch;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes stretch {
  0% {
    width: 33.3%;
  }
  50% {
    width: 66.6%
  }
  100% {
    width: 33.3%;
  }
}

.evaluation-header--right {
  padding-right: 0;
  padding-left: 0;
}

.evaluation-header__navigation {
  font-size: 16px;
}

.evaluation-header__cta {
  font-size: 16px;
}