.matrices-actions__panel {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.matrices-actions__btn-toolbar {
  height: 44px;
}

.matrices-actions__btn {
  font-size: 16px;
}

.matrices-actions__btn-toolbar--left {
  border-bottom-left-radius: 0;
}

.matrices-actions__btn-toolbar--right {
  border-bottom-right-radius: 0;
}