.btn-copy {
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 12px;
}

.btn-copy::before {
  content: '\e205';
  font-family: 'Glyphicons Halflings';
  margin-right: 2px;
}

.btn-copy:focus {
  background-color: mediumspringgreen;
}

.btn-copy:focus::before {
  content: '\e013';
}
