.row {
  margin-bottom: 20px;
}

.edit-icon {
  cursor: pointer;
}

.edit-icon:hover {
  color: #CACACA;
}

.users-list__cell {
  vertical-align: middle !important;
}

.edit-details-form__container {
  width: 66%;
}