.skill-status-icon {
  font-size: 36px;
  vertical-align: middle;
  padding: 5px;
}

.skill-status-icon--attained {
  color: #C9DAF8;
}

.skill-status-icon--newly-attained {
  color: #D9D2E9;
}

.skill-status-icon--feedback{
  color: #FFF2CC;
}

.skill-status-icon--not-attained {
  color: #d9dbd9;
}

.skill-status-icon--objective {
  color: #F4CCCC;
}

.alert {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  background-image: none;
}