@import "./variables";

.skill-status-icon {
  font-size: 36px;
  vertical-align: middle;
  padding: 5px;
}

.skill-status-icon--attained {
  color: $attained;
}

.skill-status-icon--newly-attained {
  color: $newly-attained;
}

.skill-status-icon--feedback{
  color: $feedback;
}

.skill-status-icon--not-attained {
  color: $not-attained;
}

.skill-status-icon--objective {
  color: $objective;
}

.alert {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  background-image: none;
}