.skill-status-icon {
  font-size: 36px;
  vertical-align: middle;
  padding: 5px;
}

.skill-status-icon--attained {
  color: #dff0d8;
}

.skill-status-icon--feedback{
  color: #d7ebef;
}

.skill-status-icon--not-attained {
  color: #d9dbd9;
}

.alert {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  background-image: none;
}