.btn-copy {
  position: absolute;
  right: 4px;
  top: 3px;
  font-size: 12px;
}

.btn-copy::before {
  content: '\e205';
  font-family: 'Glyphicons Halflings';
  margin-right: 2px;
}

.btn-copy:active,
.btn-copy:active:hover {
  background-color: mediumspringgreen;
}

.btn-copy:active::before {
  content: '\e013';
}

.btn-modal {
  position: absolute;
  top: 3px;
  right: 49px;
  padding: 4px 10px 5px;
}

.btn-modal::before {
  content: '\e237';
  font-family: 'Glyphicons Halflings';
  margin-right: 5px;

}
