@import '../../../common/variables';

.progress__skill {
  height: 15px;
  width: 15px;
  padding: 0;
  border: 1px solid white;
}

.progress__skill:hover {
  border: 4px solid #bddffc;
}

.progress__skill--selected {
  border: 4px solid #337ab7;
}

.progress__skill-group {
  padding: 0 !important;
}

.progress__table {
  background-color: transparent;
}

.progress_skill--newly-attained {
  background-color: $newly-attained;
}

.progress_skill--attained {
  background-color: $attained;
}

.progress_skill--feedback {
  background-color: $feedback;
}

.progress_skill--objective {
  background-color: $objective;

}

.progress_skill--not-attained {
  background-color: #f9f9f9;
}