.tasks__count {
  background-color: #5bc0de;
}

.tasks__panel {
  height: 300px;
  overflow-x: hidden;
}

.tab-content {
  margin-top: 20px;
}

.selector-list {
  overflow-x: hidden;
  max-height: 400px;
}

.selector-list__btn {
  text-align: left;
}